[Unit]
Description=Pigpio daemon

[Service]
# CPUAffinity=3
Type=forking
PIDFile=pigpio.pid
ExecStart=/usr/local/bin/pigpiod

[Install]
WantedBy=multi-user.target
